table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

input[type=text]{
	width: 100%;
}

input[type=submit]{
	border: 1px solid darkgreen;
	color: green;
	padding: 5px;
}


input[type=submit]:hover{
	background-color: green;
	color: white;
}

.upload{
	border: 1px solid green;
	padding: 3px;
	margin-bottom: 3px;
}