body { background: #eee; font-family: helvetica, sans-serif; color:#333; line-height: 1.5em; }
h1 { font-size: 2.5rem; color: hsl(48, 53%, 53%); text-align: center; }
a { text-decoration: underline; color: hsl(48, 53%, 53%);  }
a:hover { color: hsl(48, 53%, 70%);  }
h2 { font-size: 1.8rem; color: hsl(48, 53%, 53%); }
section { max-width: 920px; margin: 0 auto 40px; background: #fff; padding: 25px;  }
img { max-width: 100%; height: auto;}

.products { display: flex; justify-content: space-between; flex-wrap: wrap;  }
.products .product_item { width: 32%; border: solid 1px #ddd; margin-bottom: 25px; }
.products .product_item a { display: block; }